{% for x in match %}
  {{x}}<br>
{% endfor %}

{{number_found}}<br>

{% for x in list %}
  {{x.id}}<br>
  <!-- {{x.number}}<br> -->
  <!-- {{x.date}}<br> -->
  職稱: {{x.jobTitle}}<br>
  公司:{{x.company}}<br>
  地點︰{{x.location}}<br>
  treatment: {{x.treatment}}<br>
  money: {{x.money}}<br>
  組別:{{x.category}}<br>
  新地點: {{x.location2}}<br>
  工作天: {{x.working_week}}<br>
  工作天數(working_day_number, 即每週工作多少天): {{x.working_day_number}}<br>
  工作時間(working_hours, 即每天從幾點做到幾點): {{x.working_hours}}<br>
  工作時數(working_hours_number, 即每天工作多少小時): {{x.working_hours_number}}<br>
  工作時數(數字, working_hours_number_float): {{x.working_hours_number_float}}<br>
  工作天數(數字, working_day_number_float): {{x.working_day_number_float}}<br>
  輪班(working_shift): {{x.working_shift}}<br>
  開工(start_time): {{x.start_time}}<br>
  下班(end_time): {{x.end_time}}<br>
  工作時數(responsibility): {{x.responsibility}}<br>
  每周工時(week_total_hour): {{x.week_total_hour}}<br>
  <br>
{% endfor %}

<ul class="pagination nav navbar-nav">
   {% if list.has_previous %}
           <li><a href="?page={{ objects.previous_page_number }}">Prev</a></li>
   {% endif %}
   {% for page in list.paginator.page_range %}
       <li class="{% if objects.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
   {% endfor %}

   {% if list.has_next %}
       <li> <a href="?page={{ objects.next_page_number }}">Next</a></li>
   {% endif %}
</ul>
