  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="overlay-background" style="position:absolute; left:0px; top:0px; width:1280px; height:960px; background:pink;">

<div class="search_list">
  <div class='overlay-button-label' style=" position:absolute; left:378px; top:34px; width:268px; height:26px;" title="">
    公司名稱
  </div>
  <div class='overlay-button' style=" position:absolute; left:378px; top:60px; width:268px; height:26px;" title="">
    {{instance.company}}
  </div>


  <div class='overlay-button-label' style="position:absolute; left:654px; top:34px; width:187px; height:26px;" title="">
    行業
	</div>
  <div class='overlay-button' style="position:absolute; left:654px; top:60px; width:187px; height:26px;" title="">
    {{instance.category}}
	</div>

  <div class='overlay-button-label' style="position:absolute; left:378px; top:90px; width:268px; height:26px;" title="">
  職位名稱
  </div>
  <div class='overlay-button' style="position:absolute; left:378px; top:116px; width:268px; height:26px;" title="">
    {{instance.jobTitle}}<!-- 職位名稱 -->
	</div>

  <div class='overlay-button-label' style="position:absolute; left:654px; top:90px; width:187px; height:26px;" title="">
    工作地點
	</div>
  <div class='overlay-button' style="position:absolute; left:654px; top:116px; width:187px; height:26px;" title="">
    {{instance.location2}}
	</div>

  <div class='overlay-button-label' style="position:absolute; left:378px; top:146px; width:153px; height:26px;" title="">
    薪金
	</div>
  <div class='overlay-button' style="position:absolute; left:378px; top:172px; width:153px; height:26px;" title="">
    {% if model == 'labor_gov' %}
      {{instance.salary_type}} ${{instance.money}}
    {% else %}
      {{instance.salary}}
    {% endif %}
	</div>

  <div class='overlay-button-label' style="position:absolute; left:540px; top:146px; width:108px; height:26px;" title="">
    每週工作時數
	</div>
  <div class='overlay-button' style="position:absolute; left:540px; top:172px; width:108px; height:26px;" title="">
    {{instance.week_total_hour}}
	</div>

  <div class='overlay-button-label' style="position:absolute; left:657px; top:146px; width:108px; height:26px;" title="">
    每週工作天數
	</div>
  <div class='overlay-button' style="position:absolute; left:657px; top:172px; width:108px; height:26px;" title="">
    {{instance.working_day_number}}
	</div>

  <div class='overlay-button-label' style="position:absolute; left:773px; top:146px; width:129px; height:26px;" title="">
    一周實際時薪
	</div>
  <div class='overlay-button' style="position:absolute; left:773px; top:172px; width:129px; height:26px;" title="">
    一周實際時薪
	</div>
</div> <!-- search list -->


<!-- start 中間東西 -->
<div class="graph-detail" style="position:absolute; left:533px; top:254px; width:221px; height:17px;" title="">
  graph title
	</div>

  <div class="graph-detail" style="position:absolute; left:318px; top:303px; width:640px; height:165px;" title="">
    graph
  	</div>
  <div class="graph-detail" style="position:absolute; left:318px; top:468px; width:640px; height:87px;">
    axis
	</div>

  <svg class='title_2 graph-detail' style="position:absolute; left:533px; top:555px; width:221px; height:20px;"></svg>

  <div class="graph-detail" style="position:absolute; left:318px; top:604px; width:640px; height:165px;" title="">
graph2
    <svg class='graph' width='900' height='200'></svg>
	</div>
  <div class="graph-detail" style=" position:absolute; left:318px; top:769px; width:640px; height:101px;" title="">
    2nd graph axis
	</div>
<!-- end 中間東西 -->


<div class='overlay-button' style=" position:absolute; left:517px; top:856px; width:248px; height:56.974px;">


</div>


<div style="background:blue; position:absolute; left:531px; top:870px; width:220px; height:28px;" title="">
</div>


<script>
  var data = {{json_classification|safe}}
</script>

<br>
<br>
<br>
<svg class='graph' width='900' height='200'></svg>
  </div>


</div> <!-- class="container latest-bg-2" -->

<div id='holder'></div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>

<script>
var svg = d3.select('svg .graph')
var svg_title_2 = d3.select('svg.title_2')


// [0-5, 5-10, ...]
var object_array = $.map(data, d=>[d.range])

var number_max = d3.max(data, d=>d.number)

var xScale = d3.scaleOrdinal()
                .domain([0,500])
                .range([0,740])

var yScale = d3.scaleLinear().domain([0, number_max]).range([300, 0])

var width = 960,
 height = number_max;
bar_width = 50



svg.append('g')
   .attr('class', 'chart_group')
   .attr('transform', 'translate(0,100)')

svg.select('.chart_group')
   .selectAll('rect.bar')
    .data(data)
    .enter().append('rect')
    .attr('transform', 'translate(50,0)')
    .classed('bar', true)
    .attr('x', (d, i) => i*bar_width)
    .attr('width', 30)
    .attr('y', d=> yScale(d.number))
    .attr('height', d=> yScale(height-d.number) )
    .style('fill', d => d.color);

svg.select('.chart_group')
   .append('text')
   .text('小時')
   .attr('x',width/2-width/10)
   .attr('y',340)


svg_title_2.append('text')
  .text('與所有「{{ category }}」組別工時相比')
  .attr('y',15)
  .style("font-size", "16.5px")


svg.select('.chart_group')
  .selectAll('rect.bar')
  .select('text')
  .data(data)
  .enter().append('text')
  .text(d=>d.range)
  .attr('x', (d,i)=>i*bar_width+50)
  .attr('y',318)
  .style("font-size", "10px")


yAxis = d3.axisLeft()
          .scale(yScale)

// xAxis = d3.axisBottom()

d3.select('svg')
  .select('.chart_group')
  .append('g')
  .attr('transform', 'translate(40,00)')
  .attr('id', 'yAxisG')
  .call(yAxis)

  d3.select('svg')
    .select('.chart_group')
    .append('text')
    .text('人數')
    .attr('x', 10)
    .attr('y',-10)


// d3.select('svg')
//   .append('g')
//   .attr('transform', 'translate(35,260)')
//   .attr('id', 'xAxisG')
//   .call(xAxis)



var fullWidth = 600;
var fullHeight = 250;
var margin = {
  top: 15,
  right: 15,
  left: 50,
  bottom: 50
};

// var xScale = d3.scaleTime()
//                .domain([new Date(1910, 0, 1), (new Date(2010, 0, 1))])
//                .range([0, width]);

</script>




<style>
.overlay-button{
  background:RGB(252, 238, 33);
}
.graph-detail{
  border: 1px black solid;
}
</style>
